.App {
  /* text-align: center; */
  color: #cfd8dc;
  min-height: 100vh;
}
input {
  color: #cfd8dc;
}
.card-title {
  color: #fff !important;
}
.card {
  color: #cfd8dc;
  border: 1px solid #263238;
}
.fab {
  color: #cfd8dc;
}
/* .bookmark-btn {
  display: flex;

  align-items: center;
  justify-content: center;

  position: absolute;
  right: 15px;
  bottom: -18px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
} */
.card-image {
  position: relative;
}
.card-image:hover {
}

/* .bookmark-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
} */
.fa-bookmark {
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 1.5rem;
  color: #ef6c00;
  transition: all 0.2s ease-out;
}
.fa-bookmark:hover {
  color: #fb8c00;
}
.fa-star {
  color: #fb8c00;
  font-size: 13px;
}
.App-logo {
  /* height: 40vmin; */
  /* pointer-events: none; */
  /* width: 30px; */
  /* height: 20px; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* .App-link {
  color: #61dafb;
} */
.card {
  /* max-width: 50% !important; */
  /* max-height: 20% !important; */
}
/* .card-image {
  width: 100% !important;
  height: 100% !important;
} */
.card-content p {
  font-size: 0.8rem;
}
.card-title {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input-field {
  margin: 60px 0;
}
/* label focus color */
.input-field input:focus + label,
.fa-searchengin:focus {
  color: #ef6c00 !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #ef6c00 !important;
  box-shadow: 0 1px 0 0 #ef6c00 !important;
}
.input-field .prefix.active {
  color: #ef6c00;
}

.top250-header {
  width: 60%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ef6c00;
}
.fa-chevron-down,
.fa-plus-square {
  color: #fb8c00 !important;
}
.card-reveal {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(69, 90, 100, 0.9) !important;
}
#lists-modal {
  z-index: 10 !important;
}
.card-action {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
}
.movie-btn {
  background: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(160, 160, 160, 0.5);
  background: rgba(160, 160, 160, 0.2);
}
.card-action {
  background: none !important;
  box-shadow: none !important;
}
.movie-btn:hover {
  color: #fb8c00;
  background: rgba(160, 160, 160, 0.5);
  border: 1px solid rgba(251, 140, 0, 0.5);
  /* border-radius: 0px; */
  /* box-shadow: none; */
}
.delete-btn {
  display: block;
  margin: 0.75rem;
}
.collapsible-header {
  border-bottom: 1px solid rgba(160, 160, 160, 0.5);
  border: none !important;
  align-items: center;
  justify-content: space-between;
}

.bookmarked-image {
  display: inline;
}
.bookmarked-image > img {
  /* position: relative; */
  /* height: 90px !important; */
  /* position: relative; */

  height: 150px;
  display: inline;
}
.collapsible {
  background-color: inherit !important;
}
.collapsible-body span {
  text-align: justify;
}
.fa-star {
  font-size: 0.8rem !important;
}
